.profile__image {
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.avatar_edit {
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
  position: relative;
  border-radius: 50%;
}

.avatar_edit::after {
  content: '';
  background:  url(../../../images/edit-icon.svg) no-repeat center;
  background-size: 26px;
  border-radius: 50%;
  position: absolute;
  width: 100%; 
  height:100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
  z-index: 2;
}

.avatar_edit::before {
  content: '';
  background-color: black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  width: 100%; 
  height:100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
  z-index: 1;
}

.avatar_edit:hover::before{
  opacity: 0.8;
}

.avatar_edit:hover:after{
  opacity: 1;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
